@import "../../mixins.scss";
.catagories {
  display: flex;

  margin: 0 auto;
  flex-flow: wrap;
  gap: 10px;

  justify-content: space-around;
  align-items: center;

  @include md {
    max-width: 100%;
    flex-flow: row;
  }
  .catimg {
    width: 120px;
    border: 2px solid rgb(240, 235, 235);
    border-radius: 20px;
    cursor: pointer;
    
    @include md {
      width: 300px;
    }
  }
}
